body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: #00000099;

}


#home-hero{
    height: 60vh;
    width: 100%;
    background-image: url("../img/hdma.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-hero img{
    height: 75%;
    width: 50%;
}

#home-hero h1{
    color: green;
    font-size: 40px;
}

.video-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container iframe{
    margin-top: 50px;
}

.text-nav{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

.mr-sm{
    margin-right: 10px;
}




/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    body{
        background-color: brown;
    }

  

  }



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    body{
        background-color: chartreuse;
    }

    .hide-iframe{
        display: none;
    }

    .font-mobile{
        font-size: 40px;
    }
    
  }
  